.chatbot-container{
    height: 500px;
    width: 500px;
    padding: 20px;
    overflow: auto; 
    float: right;
    background-color: rgba(254, 247, 247, 0.45);
}


.chatbot{
    height: 100%;
    width: 100%;
    overflow: auto;
}

.chatbot-hidden{
    width: 500px;
}

h2{
    color: black
    
}

input:focus {
    border-bottom: 1px solid #f1caf8 !important;
    box-shadow: 0 1px 0 0 #ecd7f0 !important;
  }

  input {
    margin-top: 20px !important;
    background-color: #f1caf84d !important;
  }

  .show-hide-container{
    display: flex;
    flex-direction: column;
    
  }

.showBtn:hover{
    cursor: pointer;
}

.btn {
    background-color: black !important;
}