body {
    background-color: #7b1fa2;
}
.container-chat{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px;
    justify-content: center !important;
    align-items: center !important;
}

.nav-container{
    margin-bottom: 20px;
}


.box-chatbot{
    width: 700px;
}